/* HERO */
.hero_container {
  height: 650px;
  margin-top: 30px;
  background-image: url("../../../public/img/hero.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.hero_title {
  max-width: 873px;
  padding-top: 160px;
  color: white;
  text-transform: uppercase;
}

.hero-img_wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
}

.hero-img_container {
  display: block;
  position: relative;
}

.hero-img_wrapper .hero-img_container {
  margin-right: 65px;
}

.hero-img_personaly {
  border: 1px solid white;
  border-radius: 10px;
}

.hero-img_number {
  position: absolute;
  left: -15%;
  top: -25%;
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 56px;
  text-transform: uppercase;
  color: white;
}

.btn_hero {
  margin-top: 60px;
  padding-right: 100px;
  padding-left: 100px;
}

.btn_hero a {
  font-size: 20px;
}
