/* @font-face {
    font-family: 'WorkSans';
    src: url('../public/fonts/WorkSans-Regular.woff2') format('woff2'),
      url('../public/fonts/WorkSans-Regular.woff') format('woff'),
      url('../public/fonts/WorkSans-Regular.ttf') format('ttf');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'WorkSans';
    src: url('../public/fonts/WorkSans-Medium.woff2') format('woff2'),
      url('../public/fonts/WorkSans-Medium.woff') format('woff'),
      url('../public/fonts/WorkSans-Medium.ttf') format('ttf');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'WorkSans';
    src: url('../public/fonts/WorkSans-SemiBold.woff2') format('woff2'),
      url('../public/fonts/WorkSans-SemiBold.woff') format('woff'),
      url('../public/fonts/WorkSans-SemiBold.ttf') format('ttf');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
  } */

html {
  height: 100%;
  background-color: var(--background-main-color);
  transition: var(--change-theme-duration);
}

body {
  height: 100%;
}

ul {
  list-style: none;
}

.container {
  max-width: 1156px;
  margin: 0 auto;
}

h1 {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 56px;
  line-height: 55px;
  text-transform: uppercase;
  color: white;
}

h4 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  text-transform: uppercase;
  color: var(--secondary-color);
}

a {
  font-family: "NotoSans";
  font-weight: 400;
  text-decoration: none;
  color: black;
}

li {
  text-decoration: none;
}

:root {
  --main-color: #800202;
  --secondary-color: #333333;
  --tertiary-color: #F2F3F7;
  --box-shadow-primary: 0px 12px 24px -6px var(--border-color-primary);
  --change-theme-duration: 0.5s;
}

/*
[data-theme="dark"]{
    --background-main-color:#181A2A;
    --background-secondary-color:#141624;
    --background-toggle-color: #4B6BFB;
    --logo-fill-color: #4B6BFB;
    --align-toggle-item: right;
    --main-text-color: #FFFFFF;
    --secondary-text-color: #97989F;
    --tertiary-text-color: #BABABF;
    --border-color-primary:#242535;
    --box-shadow-primary: 0px 12px 24px -6px var(--border-color-primary);
} */